@using ColorRoomManager.Models;
@using System.Linq;
@{
    var lstProductColor = (List<ProductColor>)ViewBag.CheckData;
    string productCode = TempData["ProductCode"].ToString();
}


<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title">Add colors for Item</h4>
    </div>
    <div class="modal-body">
        @if (Model != null)
        {
            <div class="form-group">
                <label>Product code<code>(*)</code></label>
                <input type="text" class="form-control" id="ProductCodeUp" name="ProductCodeUp" value="@productCode" placeholder="Product code" readonly>
            </div>

            <div class="form-group">
                <label>Add colors for the Item</label>
                <div class="example">
                    <script type="text/javascript">
                        $(document).ready(function () {
                            $('#colorItem').multiselect({
                                enableFiltering: true,
                                maxHeight: 400,
                                buttonWidth: '400px'
                            });
                        });
                    </script>

                    <select id="colorItem" multiple="multiple" size="6" class="multiselect">
                        @if (Model != null)
                        {
                            foreach (var item in Model)
                            {
                                if (lstProductColor != null)
                                {
                                    if (lstProductColor.Where(x => x.ColorCode.Trim() == item.ColorCode.Trim()).ToList().Count > 0)
                                    {
                                        <option selected value='@item.ColorCode'>@item.ColorName</option>
                                    }
                                    else
                                    {
                                        <option value='@item.ColorCode'>@item.ColorName</option>
                                    }
                                }
                                else
                                {
                                    <option value='@item.ColorCode'>@item.ColorName</option>
                                }

                            }
                        }
                        else
                        {
                            <option value='0'> No data exist. Please add new color first! </option>
                        }

                    </select>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="ProductUpColor(@productCode)">Save changes</button>
                </div>
            </div>
        }
    </div>
</div>
